* {
    -fx-background-color: #777765;
}

.square {
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

.dark-square {
    -fx-background-color: #3E2722;
    -fx-text-fill: #F9C79FAA;
}

.light-square {
    -fx-background-color: #F9C79F;
    -fx-text-fill: #3E2722AA;
}